<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.ssgbin.equipment">
	<select id="list"
		parameterType="storeVO" 
		resultType="equipmentVO">
		SELECT EQUIPMENT_ID, EQUIPMENT_NAME, CATEGORY, CAPACITY, IS_ON, SERIAL_NUMBER, STORE_ID
		FROM EQUIPMENT
		WHERE STORE_ID = #{store_id} and category = '쓰레기통'
	</select>
	<select id="userList"
		parameterType="equipmentVO"
		resultType="userVO">
		SELECT EMPLOYEE_ID, EMPLOYEE_NAME, PWD, TOKEN
		FROM EMPLOYEE
		WHERE EMPLOYEE_ID IN
		  (SELECT EMPLOYEE_ID
		  FROM WORK
		  WHERE STORE_ID = (SELECT STORE_ID FROM EQUIPMENT WHERE EQUIPMENT_ID = #{equipment_id}))
		AND TOKEN IS NOT NULL
	</select>
	<select id="push"
		parameterType="equipmentVO"
		resultType="java.util.HashMap">
		SELECT STORE_NAME, CATEGORY, STORE_ID
		FROM STORE
		JOIN EQUIPMENT
		USING (STORE_ID)
		WHERE EQUIPMENT_ID = #{equipment_id}
	</select>
	<select id="get"
		parameterType="Integer"
		resultType="equipmentVO">
		SELECT *
		FROM EQUIPMENT
		WHERE EQUIPMENT_ID = #{equipment_id}
	</select>
	<update id="updatePower"
		parameterType="equipmentVO">
		<choose>
			<when test="is_on != null and is_on.equals('T')">
				UPDATE EQUIPMENT SET IS_ON='T' WHERE EQUIPMENT_ID = #{equipment_id}
			</when>
			<otherwise>
				UPDATE EQUIPMENT SET IS_ON='F' WHERE EQUIPMENT_ID = #{equipment_id}
			</otherwise>
		</choose>
	</update>
</mapper> 
